<h1 class="mt-5 mb-4 text-center">Blog</h1>

<%= will_paginate @articles, list_classes: %w(pagination justify-content-center mb-4) %>

<% if logged_in? %>
  <div class="row text-center">
    <div class="col-md-12">
      <%= link_to "Create blog post", new_article_path %>
    </div>
  </div>
<% end %>

<%= render "articles", obj: @articles %>
